{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "css",
          "dockerfile",
          "javascript",
          "json",
          "markdown",
          "powershell",
          "python",
          "shell-session",
          "sql",
          "typescript",
          "yaml"
        ],
        "plugins": [
          "custom-class",
          "match-braces",
          "line-numbers",
          "line-highlight"
        ]
      }
    ]
  ]
}